<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename='poe/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='poe/style.css')}}">
    <link
      rel="shortcut icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/1200px-Salesforce.com_logo.svg.png"
      type="image/x-icon"
    />

    <title>Projet final module 1</title>
  </head>
  <body style="background-color: rgb(15, 37, 55)">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="logo">
          <a class="navbar-brand" href="poe_home">
            <img
              class="logo"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/1200px-Salesforce.com_logo.svg.png"
              style="max-width: 15%"
              alt=""
            />
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="poe_formulaire"
                >Ajouter un stagiaire <span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="poe_liste"
                >Nos stagiaires <span class="sr-only"></span
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="banner"> </div>
    </body>
    <main class="indexmain">
      <section class="mt-5 mb-5">
        <div class="container container_index">
          <h2>Groupe 4 POEI Salesforce</h2>
          <p>
            CAPGEMINI/M2I en partenariat avec pôle emploi recherche plusieurs Développeurs informatiques. Après une formation de 3 mois avec notre partenaire M2I sur un socle technologique en Java doublé par un accompagnement sur les logiciels d'interaction clients Salesforce, vous rejoindrez nos équipes projets sur des missions de concepteur développeurs <br>
            <br>

Capgemini est un leader mondial, responsable et multiculturel, regroupant plus de 300 000 personnes dans près de 50 pays. Partenaire stratégique des entreprises pour la transformation de leurs activités en tirant profit de toute la puissance de la technologie, le Groupe est guidé au quotidien par sa raison d’être : libérer les énergies humaines par la technologie pour un avenir inclusif et durable. Fort de plus de 50 ans d’expérience et d’une grande expertise des différents secteurs d’activité, Capgemini est reconnu par ses clients pour répondre à l’ensemble de leurs besoins, de la stratégie et du design jusqu’au management des opérations, en tirant parti des innovations dans les domaines en perpétuelle évolution du cloud, de la data, de l’Intelligence Artificielle, de la connectivité, des logiciels, de l’ingénierie digitale et des plateformes. Le Groupe a réalisé un chiffre d’affaires de 16 milliards d’euros en 2020.

          </p>
          <p>Tout ce site a été réalisé avec du HTML, CSS et JS</p>
        </div>
        <div class="container container_index">
          <h3>Objectifs de la formation</h3>
          <hr>
          <p>
            A l'issue de cette formation, nous deviendrons des développeurs
            certifiés Salesforce et notre mission sera de:
            <ul>
              <li>modéliser le besoin client, </li>
              <li>choisir les solutions du marché adéquates </li>
              <li>développer et mettre en place ces solutions </li>
            </ul>
          </p>
        </div>
        <div class="container container_index">
          <h3>Déroulement</h3>
          <hr>
          <p>
            La formation se déroulera du 11 janvier au 31 mars, à distance.
          </p>
        </div>
      </section>
      <section>
      <div class="images">
        <a href="https://www.capgemini.com/" target="_blank">
          <img src="https://lespetitesannoncesdemarine.files.wordpress.com/2019/07/capgemini-logo.jpg" alt="Capgemini"/>
        </a>
        <a href="https://www.salesforce.com/fr/" target="_blank">
          <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Salesforce.com_logo.svg/1200px-Salesforce.com_logo.svg.png"
          alt="Salesforce"
          />
        <a href="https://www.m2iformation.fr/" target="_blank">
          <img src="https://pbs.twimg.com/profile_images/1227195181897854977/Fi6u7gpY_400x400.jpg" style="max-width: 52%;" alt="M2Iformation"/>
        </a>

        </a>
      </div>
      </section>
    </main>

    <footer class="mt-auto">
      <div class="container-fluid row g-0">
        <div class="col-12 col-lg-8 p-2">
          <h5>Notre adresse</h5>
          <p>
            123 Rue de la formation <br />
            44000 Nantes <br />
            France
          </p>
        </div>
        <div class="col-12 col-lg-4 p-2">
          <h5>S'inscrire à la newsletter</h5>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder=". . ."
              required
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">></button>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='poe/app.js')}}"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"
    integrity="sha512-UNM1njAgOFUa74Z0bADwAq8gbTcqZC8Ej4xPSzpnh0l6KMevwvkBvbldF9uR++qKeJ+MOZHRjV1HZjoRvjDfNQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
