


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

*{
    /*
    margin: 0px;
    padding: 0px;
    */
}


body {
    
    
    background: #333131;
     

     text-align: center;

}


main{
padding: 2%;
}

main p, h3, h2{
    color: white;
}


.row{
    text-align: center;
}



.col-md-3{
    text-align: center;
}

video{
    border: 8px solid white;
    border-radius: 5px;
}
