html {
  background: rgb(15, 37, 55);
  background: linear-gradient(
    128deg,
    rgba(15, 37, 55, 1) 0%,
    rgba(28, 69, 105, 1) 100%
  );
  color: rgb(27, 27, 27);
  font-size: 18px;
}

body {
  background: #03224c;
}

header {
  background-color: #202020;
}

header nav div {
  display: flex;
}

.nav-link {
  display: block;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 0;
  border-bottom: 0.2rem solid;
  transition: 0.2s linear;
}

.nav-link:hover::after {
  width: 100%;
  background-color: white;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: box-shadow ease 0.15s;
  border-radius: 10px;
}

.container_index:hover {
  /* -ms-transform: scale(1.05); /* IE 9 */
  /* -webkit-transform: scale(1.05); Safari 3-8 */
  /* transform: scale(1.05);  */
  box-shadow: rgba(11, 219, 222, 0.10) 0px 54px 55px,
    rgba(11, 219, 222, 0.10) 0px -12px 30px, rgba(11, 219, 222, 0.10) 0px 4px 6px,
    rgba(11, 219, 222, 0.10) 0px 12px 13px, rgba(11, 219, 222, 0.10) 0px -3px 5px;
 /* box-shadow: 0px 0px 10px 2px rgba(11, 219, 222, 0.486);*/
  /* outline: 1px solid yellow; */
}

.logo {
  margin-left: 20px;
}

header nav .navbar-collapse {
  justify-content: end;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
  margin-right: 10px;
}

.nav-item {
  margin-right: 20px;
  font-size: x-large;
}

section {
  padding: 0 5%;
}

.indexmain section:nth-child(1) {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "un un un deux"
    "un un un trois";
}

.indexmain section:nth-child(1) div:nth-child(1) {
  grid-area: un;
}
.indexmain section:nth-child(1) div:nth-child(2) {
  grid-area: deux;
}
.indexmain section:nth-child(1) div:nth-child(3) {
  grid-area: trois;
}

.images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.images a {
  flex-basis: 100%;
  text-align: center;
  margin: 10px;
  padding: 20px 5px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.068);
  border-color: 1px solid white;
  border-radius: 10px;
  transition: transform 0.1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.images a:hover {
  transform: scale(1.05);
}

.images a img {
  width: 65%;
  margin: auto 0;
}

.banner {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  background-image: url("./images/classroom.jpg");
  background-size: 100%;
  background-position: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.11);
  border-top: 3px solid rgba(255, 255, 255, 0.11);
}

.grosseimage {
  width: 100%;
  margin-top: 20px;
}

main .container,
main .container-fluid {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
}

footer .container,
footer .container-fluid {
  background-color: #282828;
  padding: 2em;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transition: background-color ease 0.2s;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.418);
  font-size: 1.5em;
}

.form-control:focus,
.form-control:active,
.form-control:hover {
  background-color: #4c9ae898;
}

.err {
  padding: 0.2em 1em;
  margin: 0.1em 0;
  color: rgb(233, 64, 64);
  height: 35px;
}

#tableStagiaires tr td:nth-child(4) button {
  padding: 0em 0.5em;
  border-radius: 20px;
  margin: 5px 5px;
}

#tableStagiaires tbody tr {
  transition: background-color ease 0.2s;
}
#tableStagiaires tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

#tableStagiaires tr td:nth-child(4) div {
  text-align: center;
  width: 100%;
}

#tableStagiaires td {
  vertical-align: middle;
}

footer input[type="email"] {
  background-image: url("https://cdn.discordapp.com/attachments/930473035918622791/936280809386704926/megaphone.png");
  background-position: 7px 7px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 820px) {
  .logo {
    width: 50%;
  }

  .indexmain section:nth-child(1) {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "un un un un"
      "un un un un"
      "deux deux deux deux"
      "trois trois trois trois";
  }
}

Label {
  font-weight: lighter;
  font-size: 22px;
}

.is-valid {
  outline: 2px solid #00c3ff8e;
}

.is-invalid {
  outline: 2px solid #ff00008e;
}

button,
a {
  transition: all ease 0.2s;
  transform: scale(1);
}

button:focus,
main a:focus {
  box-shadow: none !important;
}

button:active,
main a:active {
  transform: scale(0.95);
}
